.position-absolute{
    background-color: #e4966b;
    position: absolute;
    width: 400px;
    height: 500px;
    text-align: left;
     
    }
    .heading,.link{
        color: white;
        padding: 20px;
    }
    
    label{
        width: 130px;
        display: inline-block;
        text-align: right;
    }

    h2{
        text-align: center;
    }
    .bottom{
        text-align: center;
    }
    .register{
        text-align: center;
    }
    div{
        padding: 5px;
    }