
h3{
    text-align: center;
}

i{
    padding: 10px;
    color: white;
}
header {
    margin: 0px;
    

    #navbar {
        background-color: #e4966b;
    }
}
.col{
    width:80px;
}
.cardimg{
    padding: 20px;
}
.container{
    background-color: #e4966b;
    color: whitesmoke;
}
footer{
    background-color: #e4966b;
}
.copyright{
    background-color: white;
    text-align:center;
}
