header{
    background-color: #e4966b;
}
h2{
    text-align: center;
    padding: 20px;
}

.container-xl{
    background-color: gray;
    width:600px;
    }

.container{
    background-color: #e4966b;
    color: whitesmoke;
}
footer{
    background-color: #e4966b;
}
.copyright{
    background-color: white;
    text-align: center;
}