header{
    background-color: #e4966b;
}
h2{
    text-align: center;
}
.searchInput{
    max-width: 160px;
}
.container{
    /* background-color: #e4966b; */
    color: whitesmoke;
}
footer{
    background-color: #e4966b;
}
i{
    padding: 10px;
    color: white;
    font-size: 40px;
}
.bi-active{
    color: gray;
  }
.copyright{
    background-color: white;
}
/* .row{
    padding: 20px;
} */
.list{
    background-color: grey;
    /* padding: 20px;
    margin: 20px; */
 }
 .modal-content{
    color: black;
 }