.position-absolute{
background-color:#e4966b ;
height: 350px;
width:360px;
}
.heading,.link{
    color: white;
    padding: 20px;
}
#togglePassword{
    margin-left: -23px; 
    cursor: pointer;
}
label{
    width: 120px;
    display: inline-block;
}
div{
    padding: 5px;
}