body{
    background-image: url("./images/greybackground.jpg");
    width:100%;
    height:100vh;
    background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
}
.logincontainer{
background-color:#e4966b ;
max-height: 350px;
max-width:360px;
}
.heading,.link{
    color: white;
    padding: 20px;
}
.signin-button{
    max-width:340px;
}
.passwordcontainer{
    max-width:340px;
}
#togglePassword{
    position: absolute;
    top: 46%;
    right: 9%;
    cursor: pointer;
    color: gray;
}
label{
    max-width: 120px;
    display: inline-block;
}
div{
    padding: 5px;
}