header{
    background-color: #e4966b;
}
.form{
    padding: 0px 20px 40px;
}

.container-xl{
    background-color: gray;
    max-width:600px;
    }

label{
    /* width:300px; */
    padding: 5px;
}
.d-flex{
    padding: 20px;
}

.container{
    background-color: #e4966b;
    color: whitesmoke;
}
footer{
    background-color: #e4966b;
}
i{
    padding: 10px;
    color: white;
    font-size: 40px;
}

.bi-active{
  color: gray;
}
.copyright{
    background-color: white;
    text-align: center;
}



/* Multistep Form CSS */

.booking-form{
  background-color: gray;
  max-width:600px;
  margin: auto;
}
/* .bi-check{
  display: none;
} */
.form-step {
  display: none;
  padding-left: 15px;
  border-left: 2px solid #e4966b;
}
.form-step.active {
  display: block;
}

.step-tabs {
       margin: 20px 0;
     }

.step-tab {
     display: inline-block;
     background-color:#e4966b ;
  margin-right: 10px;
  padding: 10px;
  border: 1px;
  border-radius: 8px;
  cursor: pointer;
}

.step-tab.active {
  background-color: white;
  color: black;
}



