/* button.sign-out-button{
  display: none;
} */

h1.carousel-title {
  color: #e4966b;
  font-size: 60px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
p.carousel-subtitle {
  color:white;
  font-size: 30px;
  font-style: italic;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
div.carousel-image1-wrapper {
   height:500px;
    width: 100%; 
  background-image: url("./images/main1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  }
  div.carousel-image2-wrapper {
    height:500px;
     width: 100%; 
     background-image: url("./images/main2.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   }
   div.carousel-image3-wrapper {
    height:500px;
     width: 100%; 
     background-image: url("./images/main3.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   }
   div.carousel-image4-wrapper {
    height:500px;
     width: 100%; 
     background-image: url("./images/main4.jpeg");
   background-size: cover;
   background-repeat: no-repeat;
   background-position: 50% 50%;
   }
   /* .card-img-top{
    background-image: url("./images/img1.jpeg");
    background-size: 28em 15em;
    transition: 0.2s;
   }
.card-img-top-active{
  background-size: 30.8em 16.5em;
  transition: 0.2s;
} */
.card-text {
  text-align: justify;
}
i {
    color: white;
    font-size: 40px;
}
header {
    #navbar {
    background-color: #e4966b;
  }
}
.col {
  width: 80px;
}
.container {
  background-color: #e4966b;
  color: whitesmoke;
}
.bi-active{
  color: grey;
}
footer {
  background-color: #e4966b;
}
.copyright {
  background-color: white;
}
