header{
    background-color: #e4966b;
}
h2{
    text-align: center;
    padding: 20px;
}

.container-xl{
    background-color: gray;
    width:500px;
    }
    .d-flex{
        padding: 20px;
    }
    
    .container-contact{
        
        background-color: #e4966b;
    }
    .container-booking{
        background-color: gray;
    }
    .container-location{
        background-color: #e4966b;
    }
    .container-estimation{
        background-color: #e4966b;
    }
    .container-details{
        background-color: gray;
    }

.container-color{
    background-color: #e4966b;
    color: whitesmoke;
}
footer{
    background-color: #e4966b;
}
i{
    padding: 10px;
    color: white;
    font-size: 40px;
}

.bi-active{
    color: gray;
  }
.copyright{
    background-color: white;
    text-align: center;
}