header{
    background-color: #e4966b;
}
h2{
    text-align: center;
    padding: 20px;
}

.container-sm{
    background-color: gray;
    width:400px;
    }

.container{
    background-color: #e4966b;
    color: whitesmoke;
}
footer{
    background-color: #e4966b;
}
i{
    padding: 10px;
    color: white;
    font-size: 40px;
}
.copyright{
    background-color: white;
    text-align: center;
}